DOMAIN=

##############
# OSU API V2 #
##############

# Self explanatory
OSU_API_CLIENT_ID=
OSU_API_CLIENT_SECRET=

########################
# POSTGRESQL CONNECTOR #
########################

PG_HOSTNAME=
PG_USERNAME=
PG_PASSWORD=
PG_DATABASE=

################
# TABLES NAMES #
################

# Beatmapset Data
TABLE_BEATMAPSET=

# Beatmap Data
TABLE_BEATMAP=

# Global Stats
TABLE_STATS=

# Global Stats
TABLE_REQUEST_BATCH=

# Global Stats
TABLE_REQUEST_ITEM=

############
# SETTINGS #
############

# Beatmap Mirror Storage Directory
STORAGE_DIR=

# Cookie Filepath
COOKIE_FILE=

# Express Server Port
PORT=

DISCORD_REQUEST_WEBHOOK_URL=

##################
# REDIS SETTINGS #
##################

REDIS_HOST=
REDIS_PORT=

# Redis Cache Time in Seconds
REDIS_CACHE_TIME=